* {
  margin: 0;
  padding: 0;
}

.footer {
  position: relative;
  top: 40px;
}

.all-product{
  width: 100%;
}
.item {
  margin: 0px 15px;
  text-align: center;
  
}




.item img {
  width: 64px;
}

.product {
  background: rgb(248, 248, 248);
  height: 400px;
  width: 250px;
  margin: 20px;
  border-radius: 20px 20px 0px 0px;
  /* box-shadow: 1px 1px 15px rgb(218, 218, 218); */
}



.image-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 40px;
}

.image-product img {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-product {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20px;
  width: 100%;
}

.name-product span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 50px;
  word-wrap: break-word;
  text-align: center;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 95px;
}

.brand span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 85px;
}

.price {
  display: flex;
  position: relative;
  top: 110px;
  flex-direction: column;
  left: 10px;
}

.price span {
  color: gray;
  font-size: 18px;
}

.price .new-price {
  color: #1fab89;
}

.buy {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}

.buy button {
  color: #1fab89;
  border-color: #1fab89;
  padding: 10px 80px 10px 80px;
  border-radius: 5px;
  background: transparent;
  font-weight: bold;
}

.buy button:hover {
  border: none;
  background: #1fab89;
  color: white;
  text-transform: uppercase;
}

.buy button:active {
  transform: translateY(-1px);
}

.buy a {
  text-decoration: none;
  color: #1fab89;
}

.prod_container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
